tmp/*
tmp/cache/bootsnap-load-path-cache
db/
log/
credentials.yaml
config/credentials.yaml
start-text-track-service-worker.sh
start-text-track-service.sh
*.json
bbb-accessibility-183f2b339bfb.json
test/
*_BACKUP_21934.rb
info.json
out.json
*.vtt
