tmp/*
tmp/cache/bootsnap-load-path-cache
db/test.sqlite3
db/development.sqlite3
db/production.sqlite3
log/*
credentials.yaml
config/credentials.yaml
start-text-track-service-worker.sh
start-text-track-service.sh
*.json
bbb-accessibility-183f2b339bfb.json
auth/*
test/
*_BACKUP_21934.rb
info.json
out.json
*.vtt
captions_test/*
playback_test/*
example.rb
storage/*
systemd/*
service/*
.env
bigbluebutton.yml
test.rb
test2.rb
t1.rb
6e35e3b2778883f5db637d7a5dba0a427f692e91-1572466783461/*
config/ssl
default
.circleci/config.yml