# text-track-rails.service
[Unit]
Description=Text Track Rails
[Service]
Type=simple
Environment=LANG=en_US.UTF-8
User=texttrack
Group=bigbluebutton
WorkingDirectory=/usr/local/text-track-service
ExecStart=/home/texttrack/.rbenv/shims/bundle exec rails s -e production -p 4000
Restart=always
[Install]
WantedBy=multi-user.target