# Save as e.g. /etc/systemd/system/my-service.service
[Unit]
Description=Docker tts service
Requires=docker.service
After=docker.service
[Service]
Restart=always
User=root
# Shutdown container (if running) when unit is stopped
ExecStartPre=/usr/bin/docker-compose -f /home/ubuntu/tts/rahul/text-track-service/docker-compose.yml down -v
# Start container when unit is started
ExecStart=/usr/bin/docker-compose -f /home/ubuntu/tts/rahul/text-track-service/docker-compose.yml up
# Stop container when unit is stopped
ExecStop=/usr/bin/docker-compose -f /home/ubuntu/tts/rahul/text-track-service/docker-compose.yml down -v
[Install]
WantedBy=multi-user.target