# Save as e.g. /etc/systemd/system/my-service.service
[Unit]
Description=Docker tts service
Requires=docker.service
After=docker.service
[Service]
Restart=always
User=texttrack
# Shutdown container (if running) when unit is stopped
ExecStartPre=/usr/local/bin/docker-compose -f /var/docker/text-track-service/docker-compose.yml down -v
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f /var/docker/text-track-service/docker-compose.yml up --build
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose -f /var/docker/text-track-service/docker-compose.yml down -v
[Install]
WantedBy=multi-user.target