<h1>Welcome</h1>

<form method="POST" action="/done">
    <select name="service">
      <option value="google">Google</option>
      <option value="ibm">Ibm</option>
    </select>
    
    <input type="submit">
</form>